<!DOCTYPE html>
<html lang="ko">
<meta charset="utf-8">
<head>
    <!-- meta data -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>CCTV 동작 감시 모자이크</title>

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="resources/assets/favicon.ico" />

    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />

    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />

    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />

    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel ="stylesheet" href ="{{ url_for('static', filename='css/styles.css') }}"/>
    <link rel ="stylesheet" href ="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>

    <!-- jquery_inlcude -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- 사용자CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/video.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/videosort.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">

    <!-- 사용자 JS -->
    <script src="{{ url_for('static', filename='js/nav.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Location.js') }}"></script>

</head>
<body>
<!-- 네비게이션바-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">{% include 'nav.html' %}</nav>

<!-- 메인컨텐츠 -->
<main>
    <!-- 컨텐츠 표시 -->
    <div id="myform" class="text-center bg-light text-dark bg-opacity-100 d-inline-block">
        <div class="m-3 p-3">
            <h4 class="mb-3">Camera Map</h4>
            <hr>

            <!-- Camera Map -->
            <!-- 지도가 그려질 DIV -->
            <div id="map" style="width:100%;height:400px;"></div>
            <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=fc08fff74aefb480cd5e4825d06fe58b"></script>

            <!-- 지도 그리기 -->
            <script>

                var mapContainer = document.getElementById('map'),// 지도를 표시할 div
                mapOption = {
                    center: new kakao.maps.LatLng( 37.4812845080678, 126.952713197762 ),
                    level: 4, // 지도의 확대 레벨
                    // draggable: false, // 지도 이동 막음
                    mapTypeId : kakao.maps.MapTypeId.ROADMAP // 지도종류
                };

                // 지도를 생성한다
                var map = new kakao.maps.Map(mapContainer, mapOption);
                map.setDraggable(false);  // 지도 이동 막음
               // map.setZoomable(false); // 지도의 마우스 휠, 모바일 터치를 이용한 확대, 축소 기능을 막는다.


                // GeoLocation을 이용해서 접속 위치를 얻어옴
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function(position) {

                        var lat = position.coords.latitude, // 위도
                            lon = position.coords.longitude; // 경도
                        console.log(lat, lon);

                        var locPosition = new kakao.maps.LatLng(lat, lon), // 마커가 표시될 위치
                            message = '<div style="padding:5px;">여기에 계신가요?!</div>'; // 인포윈도우에 표시될 내용입니다

                        // 마커와 오버레이를 표시합니다
                        displayOverlay(locPosition, message);

                      });

                } else { // HTML5의 GeoLocation을 사용할 수 없을 때

                    var locPosition = new kakao.maps.LatLng(37.4812845080678, 126.952713197762),
                        message = 'geolocation을 사용할수 없어요..'

                    displayOverlay(locPosition, message);
                }

                // 마커, 오버레이, 원 표시하는 함수
                function displayOverlay(locPosition, message) {
                    // 지도 중심좌표를 접속위치로 변경
                    map.setCenter(locPosition);

                    // 원 모양의 지역 설정
                    var circle = new kakao.maps.Circle({
                        center: locPosition, // 중심 좌표 설정
                        radius: 100, // 반경 설정 (미터 단위)
                        strokeWeight: 1, // 원 테두리 두께
                        strokeColor: '#FF0000', // 원 테두리 색상
                        strokeOpacity: 0.8, // 원 테두리 투명도
                        strokeStyle: 'solid', // 원 테두리 스타일
                        fillColor: '#FF0000', // 원 내부 색상
                        fillOpacity: 0.2, // 원 내부 투명도
                    });

                    // 지도에 원 추가
                    circle.setMap(map);

                    // 실시간교통 타일 이미지 추가
                    map.addOverlayMapTypeId(kakao.maps.MapTypeId.TRAFFIC);


                    // var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_red.png', // 마커이미지의 주소입니다
                    //     imageSize = new kakao.maps.Size(64, 69), // 마커이미지의 크기입니다
                    //     imageOption = {offset: new kakao.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.
                    // }
                    // // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다#}
                    // var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
                    //     markerPosition = new kakao.maps.LatLng(37.54699, 127.09598); // 마커가 표시될 위치입니다



                    // 마커 생성
                    var marker = new kakao.maps.Marker({
                        position: locPosition,
                        map: map
                    });

                    // 커스텀 오버레이에 표시할 컨텐츠 입니다
                    // 커스텀 오버레이는 아래와 같이 사용자가 자유롭게 컨텐츠를 구성하고 이벤트를 제어할 수 있기 때문에
                    // 별도의 이벤트 메소드를 제공하지 않습니다
                    var content = '<div class="wrap">' +
                                '    <div class="info">' +
                                '        <div class="title">' +
                                '            Home' +
                                '            <div class="close" onclick="closeOverlay()" title="닫기"></div>' +
                                '        </div>' +
                                '        <div class="body">' +
                                '            <div class="img">' +
                                '                <img src={{ url_for('static', filename='sourse/kyonggi.png') }} width="73" height="70">' +
                                '           </div>' +
                                '            <div class="desc">' +
                                '                <div class="ellipsis">경기도 화성시</div>' +
                                '                <div class="jibun ellipsis">병점1동</div>' +
                                '                <div><a href="https://www.kyonggi.ac.kr/www/index.do" target="_blank" class="link">경기대학교</a></div>' +
                                '            </div>' +
                                '        </div>' +
                                '    </div>' +
                                '</div>';

                    // 마커 위에 커스텀오버레이를 표시합니다
                    // 마커를 중심으로 커스텀 오버레이를 표시하기위해 CSS를 이용해 위치를 설정했습니다
                    var overlay = new kakao.maps.CustomOverlay({
                        content: content,
                        map: map,
                        position: marker.getPosition()
                    });

                    // 마커를 클릭했을 때 커스텀 오버레이를 표시합니다
                    kakao.maps.event.addListener(marker, 'click', function() {
                        overlay.setMap(map);
                    });
                    // 커스텀 오버레이를 닫기 위해 호출되는 함수입니다
                    function closeOverlay() {
                        overlay.setMap(null);
                    }

                    var closeBtn = document.querySelector('.close'); // .close 클래스를 가진 요소 선택
                    closeBtn.addEventListener('click', function() {
                        closeOverlay();
                    });

                }

                // 지도에 확대 축소 컨트롤을 생성한다
                var zoomControl = new kakao.maps.ZoomControl();
                map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT); // 지도의 우측에 확대 축소 컨트롤을 추가한다
            </script>
        </div>
    </div>

</main>
</body>
</html>
