<!DOCTYPE html>
<html lang="ko">
<meta charset="utf-8">
<head>
    <!-- meta data -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>CCTV 동작 감시 모자이크</title>

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="resources/assets/favicon.ico" />

    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />

    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />

    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />

    <!-- jQuery Timepicker JS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.css" integrity="sha512-LT9fy1J8pE4Cy6ijbg96UkExgOjCqcxAC7xsnv+mLJxSvftGVmmc236jlPTZXPcBRQcVOWoK1IJhb1dAjtb4lQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel ="stylesheet" href ="{{ url_for('static', filename='css/styles.css') }}"/>
    <link rel ="stylesheet" href ="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>


    <!-- jquery_inlcude -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- 사용자CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tab.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/law.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/request2.css') }}">
</head>
<body>
    <!-- 네비게이션바-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">{% include 'nav.html' %}</nav>

    <!-- 메인컨텐츠 -->
        <!--법적 고지 모달 -->
        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel">법적 고지 및 약관</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h5>1. 법적 고지</h5><br>
                            <p>- 정보주체는 영상정보처리기기 운영자가 처리하는 개인
                                영상정보에 대하여 열람, 존재확인을 해당 영상정보
                                처리기기 운영자에게 요구할 수 있습니다.
                            <p>- 이 경우 정보주체가 열람, 존재확인을 요구할 수 있는
                                 개인영상 정보는 <strong style="color:Tomato;">정보주체 자신이 촬영된 개인영상정보</strong> 및
                                 <strong style="color:Tomato;">명백히 정보주체의 급박한 생명, 신체, 재산의 이익을 위하여 필요한 개인영상정보</strong>에 한합니다.
                            <p>- 공공기관에 대한 열람, 존재확인요구는 “개인영상정보 열람․존재 확인 청구서(전자문서를 포함한다)”로 하여야 합니다.
                            <p>- 열람, 존재확인 요구를 받았을 때에는 <strong style="color:Tomato;">열람, 존재확인 요구를 한 자가 본인이거나 정당한 대리인인지를
                               신분증명서(주민등록증, 운전면허증, 여권 등)를 제출받아 확인하고</strong>, 지체없이 필요한 조치를 취하여야 합니다.
                            <p>- 각종 범법행위(절도, 폭행 등) 또는 사고(차량파손, 교통사고 등)의 확인 등을 목적으로 개인이 영상자료의 열람, 제공을 요청하는 경우에는 이를 열람, 제공할 수 없습니다.
                        <p>- 다만, <strong style="color:Tomato;">범죄의 수사와 공소의 제기 및 유지를 위하여 필요한 경우</strong> 또는 <strong style="color:Tomato;">법원의 재판업무 수행을 위하여 필요한 경우</strong>에는 이를 열람, 제공할 수 있습니다.<br><br>
                        <h5>2. 약관</h5><br>
                        <p>- 본 사용자는 해당 법적 고지를 이해하고 위반하지 않겠음을 동의해야 합니다. <br><br>
                        <h5>3. 테스트</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="document.getElementById('terms').checked = true">확인</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="document.getElementById('terms').checked = false">취소</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 컨텐츠 표시 -->
            <div id="myform" class="text-center bg-light text-dark bg-opacity-100 d-inline-block" >
                <div class="input-form-backgroud row ">
                    <div class="input-form col-md-12 mx-auto">
                          <h4 class="mb-3">영상 신청</h4>
                          <hr class="mb-4">
                          <!-- 영상 신청 -->
                          <div class="active">
                              <form id="form" name="form" class="request needs-validation" action="/videoRequest" method="POST" target="_blank" novalidate>
{#                                  <div class="row">#}
                                  <div class="mb-3">
                                      <p>
                                          <label for="cameraName"><strong>카메라ID 또는 위치</strong></label>
                                          <input id="cameraName" type="text" class="form-control is-valid" value={{ cameraName }} name="cameraName" required>
                                          <div class="invalid-feedback">
                                              카메라ID나 위치가 올바르지 않습니다
                                          </div>
                                      </p>
                                  </div>
{#                                  </div>#}
{#                                  col-md-6#}
                                  <div class="mb-3">
                                      <p>
                                          <label for="startDay"><strong>원하는 날짜</strong></label>
                                          <input id="startDay" class="form-control is-valid" type="date" name="startDay" required>
                                          <div class="invalid-feedback">
                                            날짜를 입력해주세요
                                          </div>
                                  </div>
                                  <div class="row">
                                      <div class="mb-3">
                                          <p>
                                              <label for="wantTime" class="form-check-label"><strong>원하는 시간</strong></label>
                                              <input id="wantTime_s" type="text" class="form-control timepicker form-time " name="wantTime_s" placeholder="시작시간 입력" required><br>
                                              <input id="wantTime_e" type="text" class="form-control timepicker form-time " name="wantTime_e" placeholder="종료시간 입력" required>
                                              <div id="passwordHelpBlock" class="form-text">
                                                    ex) 영상의 1시간 지점부터 2시간 지점까지
                                              </div>
                                          </p>
                                      </div>
                                  </div>
                                  <div class="mb-3">
                                      <p>
                                          <label for="terms" class="form-check-label form-check-inline "><strong>열람 사유 &nbsp; &nbsp;</strong></label>
                                          <input class="form-check-input" id="Personal" type="radio" name="part" value="Personal"> 개인&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                          <input class="form-check-input" id="Public" type="radio" name="part" value="Public"> 공무
                                      </p>
                                  </div>
                                  <div class="mb-3">
                                      <p>
                                          <label for="terms" class="form-check-label"><a data-toggle="modal"  id="myLink"><strong>법적 고지 및 약관 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></a></label>
{#                                          href="#myModal"#}
                                          <input id="terms" class="form-check-input" type="radio" name="terms" value="O" required>&nbsp;동의함<br>
                                      </p>
                                  </div>
                                  <hr class="mb-4">
                                  <p>
                                      <input type="submit" value="제출">
                                  </p>
                              </form>
                          </div>
                      </div>
                </div>
            </div>
    <div class="h-50">

    </div>
    <!-- 사용자 JS -->
    <script src="{{ url_for('static', filename='js/law.js') }}"></script>
    <script src="{{ url_for('static', filename='js/request.js') }}"></script>

    <!-- jQuery Timepicker JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.js" integrity="sha512-s5u/JBtkPg+Ff2WEr49/cJsod95UgLHbC00N/GglqdQuLnYhALncz8ZHiW/LxDRGduijLKzeYb7Aal9h3codZA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/i18n/jquery-ui-timepicker-addon-i18n.min.js" integrity="sha512-t2ZIJH81Sh+SWSb4BuA9en4j6fwja+sYOEXbqoepD9lJ+efUGD94gSWqdmgQchGmPez2ojECq4Fm6bKMUAzIiQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>
</html>