#myform {
        width: 120%;
        border-radius: 10px;
        box-shadow: 5px 5px 5px 5px;
        padding: 20px;
        top: 100px;
        position: relative;
        left: 10%;
        text-align: center;
}
body{
    width: 70%;
    height: 70%;
}
.sort{
    position: relative;
    top: 30%;
    left:33%;
}
.margin {
    height: 300px;
}

/*@media (max-width: 1024px) {*/
/*    .video-card {*/
/*        width: 50%;*/
/*    }*/
/*}*/

/*@media (max-width: 768px) {*/
/*    .video-card {*/
/*        width: 100%;*/
/*    }*/
/*}*/

/*.video-container {*/
/*    position: relative;*/
/*    width: 100%;*/
/*    padding-top: 56.25%; !* 16:9 aspect ratio (9 / 16 * 100%) *!*/
/*    border: 1px solid gray;*/
/*}*/

/*.video-container video {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

.mainclass {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.video-container {
    position: relative;
    max-width: 100%; /* 최대 너비를 제한 */
    max-height: 185.33px; /* Set maximum height */
    /*padding-top: 56.25%; !* 16:9의 비율 *!*/
    border: 1px solid gray;
    overflow: hidden; /* 내용이 카드 테두리를 벗어나지 않도록 */
}

/* video 태그는 이전과 동일한 스타일 적용 */
.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /*height: 100%;*/
    height: 185.33px;
    object-fit: contain;
}

.btn-primary2 {
    color: #fff;
    background-color: darkred;
    border-color: darkred;
}
.btn-secondary:focus {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
}

.video-info-button {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.bt-group {
    display: flex;
    justify-content: space-between; /* Adjust the spacing between buttons */
    margin-top: 10px
}


/* 카드 */
.video-card {
    border: 2px solid #808080;
    flex: 0 0 50%; /* 두 개의 영상 카드가 한 행에 배치되도록 설정 */
    box-sizing: border-box; /* 테두리와 여백을 포함한 크기 계산 */
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    /*display: flex;*/
    display: inline-block; /* Display cards in a row */
    vertical-align: top; /* Align cards at the top of the row */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow */
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .video-card {
        flex: 0 0 50%; /* 화면 너비가 768px 이상일 때 두 개의 영상 카드를 한 행에 표시 */
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

}

@media (min-width: 1024px) {
    .video-card {
        flex: 0 0 31.5%; /* 화면 너비가 1200px 이상일 때 세 개의 영상 카드를 한 행에 표시 */
    }
}

.video-card .video-info {
  margin: 10px 0;
}

@media (max-width: 1425px) {
        .mainclass {
            justify-content: center;
        }
    }



